In [1]:
import fastbook
fastbook.setup_book()

In [5]:
from fastbook import *
from fastai.vision.widgets import *

In [2]:
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual

In [3]:
import numpy as np
import pandas as pd
from heapq import merge

## Who were the diners?

In [64]:
# max_persons = False
# btn_done = widgets.Button(description='Done with Names')
# output3 = widgets.Output()

# def on_click_lastname(change):
#     print("button clicked")
#     max_persons = True
#     print(max_persons)
    
# btn_done.on_click(on_click_lastname)
# display(btn_done, output3)

In [72]:
list_name=[]
name_input = widgets.Text(
    value='',
    placeholder='Input name and press enter',
    description='Input Name:',
    disabled=False)

#@interact(trigger_name=name_input)
def trigger_name(b):
#     print(b)
#     print(name_input.value)
    list_name.append(name_input.value)
    #name_input.value = ''
    print(list_name)
    return(trigger_name)
    
name_input.on_submit(trigger_name)    

display(name_input)
print("These are the diners:")

Text(value='', description='Input Name:', placeholder='Input name and press enter')

These are the diners:
['kerk']

In [5]:
# list_name=[]
# while True:
#     try:
#         name = input("Enter name, or 'done' to stop: ")
#         if name == 'done':
#             break
#         list_name.append(name)
#         print(list_name)
#     except Exception as e:
#         print(e)
        
# print(list_name)

Enter name, or 'done' to stop: kerk
['kerk']
Enter name, or 'done' to stop: xy
['kerk', 'xy']
Enter name, or 'done' to stop: chewie
['kerk', 'xy', 'chewie']
Enter name, or 'done' to stop: done
['kerk', 'xy', 'chewie']

## Input menu items and price

In [48]:
list_menu=[]
list_menu_price=[]
menu_input = widgets.Text(
    value='',
    placeholder='Input menu item and press enter',
    description='Input Menu Item:',
    disabled=False)

menu_price_input = widgets.FloatText(
    value=0,
    description='Input Menu Price:',
    disabled=False
)



def trigger_menu(b):
#     print(b)
#     print(name_input.value)
    list_menu.append(menu_input.value)
    menu_input.value = ''
    print(list_menu)
    
def trigger_menu_price(b):
#     print(b)
#     print(name_input.value)
    list_menu_price.append(menu_price_input.value)
    #menu_price_input.value = 0
    print(list_menu_price)

menu_input.on_submit(trigger_menu)
menu_price_input.observe(trigger_menu_price, names="value")    

display(menu_input)
display(menu_price_input)
print("These are the menu items and menu prices:")

Text(value='', description='Input Menu Item:', placeholder='Input menu item and press enter')

FloatText(value=0.0, description='Input Menu Price:')

These are the menu items and menu prices:
['burger']
[16.0]
['burger', 'fries']
[16.0, 5.0]
['burger', 'fries', 'shakes']
[16.0, 5.0, 6.0]

In [46]:
#testing for float

list_menu_price=[]

menu_price_input = widgets.FloatText(
    value=0,
    description='Any:',
    disabled=False
)


def trigger_menu_price(b):
#    print(b)
#     print(name_input.value)
    list_menu_price.append(menu_price_input.value)
    #menu_price_input.value = 0
    print(list_menu_price)
    
menu_price_input.observe(trigger_menu_price, names="value")    
display(menu_price_input)

FloatText(value=0.0, description='Any:')

[15.0]

In [39]:
menu_price_input.value

15.0

In [43]:
list_menu_price

[0.0, 15.0, 15.0]

In [6]:
# list_menu=[]
# list_menu_price=[]
# list_whoate=[]
# menu = ''
# while menu != 'done':
#     menu = input("Enter menu item, or 'done' to stop: ")
#     if menu != 'done':
#         menu_price = float(input("Enter menu price: "))
#         #checkboxes = [widgets.Checkbox(value=False, description=label) for label in list_name]
#         #output = widgets.VBox(children=checkboxes)
#         #display(output)
#         #menu_price = float(input("Enter menu price: "))
#         #[box.observe(get_name) for box in checkboxes]
#         list_menu.append(menu)
#         list_menu_price.append(menu_price)
#         print(list_menu)
#         print(list_menu_price)
        

# print(list_menu)
# print(list_menu_price)

Enter menu item, or 'done' to stop: burger
Enter menu price: 16
['burger']
[16.0]
Enter menu item, or 'done' to stop: fries
Enter menu price: 6
['burger', 'fries']
[16.0, 6.0]
Enter menu item, or 'done' to stop: shakes
Enter menu price: 7
['burger', 'fries', 'shakes']
[16.0, 6.0, 7.0]
Enter menu item, or 'done' to stop: done
['burger', 'fries', 'shakes']
[16.0, 6.0, 7.0]

In [13]:
#master function for get_name

list_whoate=[]
tab_menu_position=[]

checkboxes = [widgets.Checkbox(value=False, description=label) for label in list_name]
output = widgets.VBox(children=checkboxes)
#@out.capture()
def get_name(metadata):
    #print(metadata)
    #print(metadata['owner'].value)
    if isinstance(metadata['new'],bool):
        name = metadata['owner'].description
        if metadata['new'] == True:
            list_whoate.append(name)
            tab_menu_position.append(tab.selected_index)
        #else:
            #list_whoate.pop(-1)

[box.observe(get_name) for box in checkboxes]
[display(box) for box in checkboxes]
#display(output)

Checkbox(value=False, description='Kerk')

Checkbox(value=False, description='XY')

Checkbox(value=False, description='Chewie')

[None, None, None]

In [14]:
list_whoate = []
tab_menu_position = []

tab_contents = list_menu
children = [output for name in tab_contents]
tab = widgets.Tab()
tab.children = children
for i in range(len(children)):
    tab.set_title(i, list_menu[i])
tab

def tab_change(metadata):
    #print(metadata)
    #print(metadata['type'])
    if metadata['type'] == 'change':
        #print('test')
        for i in (range(len(list_name))):
            checkboxes[i].value = False
        
        
tab.observe(tab_change)
tab

Tab(children=(VBox(children=(Checkbox(value=False, description='Kerk'), Checkbox(value=False, description='XY'â€¦

In [ ]:
# button = widgets.Button(description="Generate Split Bill!")
# output2 = widgets.Output()

# display(button, output2)

# def on_button_clicked(b):
    
    

# button.on_click(on_button_clicked)
# print(btn_next)

In [49]:
final_list_menu = []
for i in (range(len(tab_menu_position))):
    final_list_menu.append(list_menu[tab_menu_position[i]])
    
final_list_menu

['burger', 'burger', 'burger', 'fries', 'fries', 'shakes']

In [50]:
final_list_menu_price = []
for i in (range(len(tab_menu_position))):
    final_list_menu_price.append(list_menu_price[tab_menu_position[i]])
    
final_list_menu_price

[16.0, 16.0, 16.0, 5.0, 5.0, 6.0]

In [51]:
df = pd.DataFrame(list_whoate, columns = ['CONSUMER'])
df.insert(0,'MENU_ITEM',final_list_menu, True)
df.insert(1,'MENU_ITEM_PRICE',final_list_menu_price, True)
df

  MENU_ITEM  MENU_ITEM_PRICE CONSUMER
0    burger             16.0     Kerk
1    burger             16.0       XY
2    burger             16.0   Chewie
3     fries              5.0       XY
4     fries              5.0   Chewie
5    shakes              6.0     Kerk

In [52]:
table = pd.pivot_table(df, values = 'MENU_ITEM_PRICE', index = ['MENU_ITEM'], columns = ['CONSUMER'], aggfunc={'MENU_ITEM_PRICE': np.sum})
table

CONSUMER   Chewie  Kerk    XY
MENU_ITEM
burger       16.0  16.0  16.0
fries         5.0   NaN   5.0
shakes        NaN   6.0   NaN

In [53]:
temp = df.groupby('MENU_ITEM').agg({'MENU_ITEM':['count']})
temp
df2 = df.join(temp, on='MENU_ITEM')
df2

/opt/conda/envs/fastai/lib/python3.8/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

  MENU_ITEM  MENU_ITEM_PRICE CONSUMER  (MENU_ITEM, count)
0    burger             16.0     Kerk                   3
1    burger             16.0       XY                   3
2    burger             16.0   Chewie                   3
3     fries              5.0       XY                   2
4     fries              5.0   Chewie                   2
5    shakes              6.0     Kerk                   1

In [92]:
# df2[('MENU_ITEM', 'count')]

0    2
1    2
2    3
3    3
4    3
5    1
Name: (MENU_ITEM, count), dtype: int64

In [96]:
# df2.rename(columns={"MENU_ITEM":"MENU_ITEM","MENU_ITEM_PRICE":"MENU_ITEM_PRICE","CONSUMER":"CONSUMER","new":"new","new2":"new2","('MENU_ITEM', 'count')":"CONSUMER_COUNT"})
# df2

  MENU_ITEM  MENU_ITEM_PRICE CONSUMER   new  new2  (MENU_ITEM, count)
0    burger             16.0     kerk  16.0   NaN                   2
1    burger             16.0       xy  16.0   NaN                   2
2     fries              5.0     kerk   5.0   NaN                   3
3     fries              5.0       xy   5.0   NaN                   3
4     fries              5.0   chewie   5.0   NaN                   3
5    shakes              6.0   chewie   6.0   NaN                   1

In [85]:
for col in df2.columns:
    print(col)

MENU_ITEM
MENU_ITEM_PRICE
CONSUMER
new
new2
('MENU_ITEM', 'count')

In [54]:
df2['SPLIT_PRICE'] = df2['MENU_ITEM_PRICE']/df2[('MENU_ITEM', 'count')]
df2['tenpercent'] = 0.1*df2['MENU_ITEM_PRICE']/df2[('MENU_ITEM', 'count')]
df2['sevenpercentgst'] = 0.07*((0.1*df2['MENU_ITEM_PRICE']/df2[('MENU_ITEM', 'count')])+(df2['MENU_ITEM_PRICE']/df2[('MENU_ITEM', 'count')]))
df2

,MENU_ITEM,MENU_ITEM_PRICE,CONSUMER,"(MENU_ITEM, count)",SPLIT_PRICE,tenpercent,sevenpercentgst
0,burger,16.0,Kerk,3,5.333333,0.533333,0.410667
1,burger,16.0,XY,3,5.333333,0.533333,0.410667
2,burger,16.0,Chewie,3,5.333333,0.533333,0.410667
3,fries,5.0,XY,2,2.500000,0.250000,0.192500
4,fries,5.0,Chewie,2,2.500000,0.250000,0.192500
5,shakes,6.0,Kerk,1,6.000000,0.600000,0.462000

In [55]:
df2['grandtotal']=df2['SPLIT_PRICE']+df2['tenpercent']+df2['sevenpercentgst']
df2

,MENU_ITEM,MENU_ITEM_PRICE,CONSUMER,"(MENU_ITEM, count)",SPLIT_PRICE,tenpercent,sevenpercentgst,grandtotal
0,burger,16.0,Kerk,3,5.333333,0.533333,0.410667,6.277333
1,burger,16.0,XY,3,5.333333,0.533333,0.410667,6.277333
2,burger,16.0,Chewie,3,5.333333,0.533333,0.410667,6.277333
3,fries,5.0,XY,2,2.500000,0.250000,0.192500,2.942500
4,fries,5.0,Chewie,2,2.500000,0.250000,0.192500,2.942500
5,shakes,6.0,Kerk,1,6.000000,0.600000,0.462000,7.062000

In [56]:
df3 = df2.groupby('CONSUMER').agg({'grandtotal':['sum']})
df3

         grandtotal
                sum
CONSUMER
Chewie     9.219833
Kerk      13.339333
XY         9.219833

In [57]:
df4 = df2.join(df3, on='CONSUMER')
df4

/opt/conda/envs/fastai/lib/python3.8/site-packages/pandas/core/reshape/merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

,MENU_ITEM,MENU_ITEM_PRICE,CONSUMER,"(MENU_ITEM, count)",SPLIT_PRICE,tenpercent,sevenpercentgst,grandtotal,"(grandtotal, sum)"
0,burger,16.0,Kerk,3,5.333333,0.533333,0.410667,6.277333,13.339333
1,burger,16.0,XY,3,5.333333,0.533333,0.410667,6.277333,9.219833
2,burger,16.0,Chewie,3,5.333333,0.533333,0.410667,6.277333,9.219833
3,fries,5.0,XY,2,2.500000,0.250000,0.192500,2.942500,9.219833
4,fries,5.0,Chewie,2,2.500000,0.250000,0.192500,2.942500,9.219833
5,shakes,6.0,Kerk,1,6.000000,0.600000,0.462000,7.062000,13.339333

In [58]:
table3 = pd.pivot_table(df4, values = 'grandtotal', columns = ['CONSUMER'], aggfunc={'grandtotal': np.sum}, fill_value=0)
table3

CONSUMER      Chewie       Kerk        XY
grandtotal  9.219833  13.339333  9.219833

In [23]:
# table2 = pd.pivot_table(df2, values = 'grandtotal', index = ['MENU_ITEM'], columns = ['CONSUMER'], aggfunc={'grandtotal': np.sum}, fill_value=0)
# table2

CONSUMER   chewie   kerk     xy
MENU_ITEM
burger      0.000  9.416  9.416
fries       2.354  2.354  2.354
shakes      8.239  0.000  0.000